body{
    background-image: url('https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    background-color: rgb(131, 90, 141);
    background-blend-mode:hard-light;
    height:fit-content;
   
}

#head1{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
  color:rgb(184, 84, 2);
  text-align: center;
  text-decoration: start;
}

#prg1{
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
  color:rgb(153, 77, 14);
  text-align:inherit;
  margin: 30px;
}